pipeline/2b_pl_sftp_landing_to_bronze.json
{
	"name": "2b_pl_sftp_landing_to_bronze",
	"properties": {
		"activities": [
			{
				"name": "Bronze layer injestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks notebook/sftp_bronze_ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"bronze_schema": {
							"value": "@pipeline().parameters.metadata_values.bronze_schema",
							"type": "Expression"
						},
						"bronze_table": {
							"value": "@pipeline().parameters.metadata_values.bronze_tbl",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"source_file_name": {
							"value": "@pipeline().parameters.metadata_values.source_file_or_table_name",
							"type": "Expression"
						},
						"storage_account_name": {
							"value": "@pipeline().parameters.metadata_values.storage_account",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "compare record count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Bronze layer injestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Bronze layer injestion').output.runOutput[0], activity('Bronze layer injestion').output.runOutput[1])",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "record mismatch log",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/databricks notebook/log_record_tbl_insert",
								"baseParameters": {
									"env": {
										"value": "@pipeline().globalParameters.env",
										"type": "Expression"
									},
									"loadId": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"logMessage": {
										"value": "@concat('Record Mismatch between between src file ',pipeline().parameters.metadata_values.source_file_or_table_name,' records and brozone file ', pipeline().parameters.metadata_values.bronze_tbl, ' during injection')",
										"type": "Expression"
									},
									"logTimeStamp": {
										"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"pipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"status": {
										"value": "failed",
										"type": "Expression"
									},
									"triggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "bronze layer injection sucess",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/databricks notebook/log_record_tbl_insert",
								"baseParameters": {
									"env": {
										"value": "@pipeline().globalParameters.env",
										"type": "Expression"
									},
									"loadId": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"logMessage": {
										"value": "@concat('Injested ',activity('Bronze layer injestion').output.runOutput[1], ' records in bronze layer table ', pipeline().parameters.metadata_values.bronze_tbl)",
										"type": "Expression"
									},
									"logTimeStamp": {
										"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"pipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"status": {
										"value": "sucess",
										"type": "Expression"
									},
									"triggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "bronze layer injection fail",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze layer injestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks notebook/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Error: ', ' failed to injest source file ', pipeline().parameters.metadata_values.source_file_or_table_name, ' to bronze layer table ', pipeline().parameters.metadata_values.bronze_tbl)",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Bronze layer injestion').output.Error.message",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_values": {
				"type": "object"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-04T11:43:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}