pipeline/3_pl_bronze_to_silver.json
{
	"name": "3_pl_bronze_to_silver",
	"properties": {
		"activities": [
			{
				"name": "silver layer injestion",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks notebook/bronze to silver ingestion",
					"baseParameters": {
						"LoadID": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"bronze_schema": {
							"value": "@pipeline().parameters.metadata_values.bronze_schema",
							"type": "Expression"
						},
						"bronze_table": {
							"value": "@pipeline().parameters.metadata_values.bronze_tbl",
							"type": "Expression"
						},
						"silver_schema": {
							"value": "@pipeline().parameters.metadata_values.silver_schema",
							"type": "Expression"
						},
						"silver_table": {
							"value": "@pipeline().parameters.metadata_values.silver_tbl",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver layer injection fail",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "silver layer injestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks notebook/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Error: ', ' failed to load records from ', pipeline().parameters.metadata_values.bronze_tbl, ' to silver layer table ', pipeline().parameters.metadata_values.silver_tbl)",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('silver layer injestion').output.Error.message",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver layer injection sucess",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "silver layer injestion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/databricks notebook/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Insertion ', activity('silver layer injestion').output.runOutput[1],' records (',activity('silver layer injestion').output.runOutput[0] ,  ' duplicate records removed)  in silver layer ', pipeline().parameters.metadata_values.silver_tbl)",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@formatDateTime(convertFromUtc(utcNow(), 'India Standard Time'), 'yyyy-MM-dd HH:mm:ss')",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": {
							"value": "sucess",
							"type": "Expression"
						},
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"metadata_values": {
				"type": "object"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-04T11:43:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}